* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.nav {
    width: 100vw;
    height: 4vh;
    color: darkgray;
    margin: 2vw;
    text-align: center;
}

.card-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(felt.jpg);
    height: 60vh;
}

.character-card {
    grid-column: 1/2;
    margin: auto;
    max-width: 400px;
    min-width: 300px;
    width: 40vw;
    height: 50vh;
    border: 2px solid darkgray;
    border-radius: 8px;
    background-color: lightgray;
    position: relative;
}



.name-box {
    margin: 1vw;
    text-align: center;
}

.name-input {
    border: none;
    background-color: lightgray;
    text-align: center;
    color: rgba(0,0,0,.65);
}

.name-input:focus {
    outline: none;
}

.item-container {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    min-width: 250px;
    width: 33vw;
    height: 10vh;
    padding: 2vh;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightblue;
    text-align: center;
}

.health-box {
    margin: auto;
    display: flex;
    justify-content: center;
}

.health-bar-text {
    margin-bottom: 0;
    padding-right: 1vw;
}

.health-bar {
    width: 40%;
    height: 15px;
    border: 2px solid black;
    
    
}

.health-meter {
    height: 100%;
    width: 100%;
    background-color: red;
}

.health-amount-text {
    font-size: .65em;
    text-align: center;
}

.stat-box {
    margin: auto;
    max-width: 300px;
    min-width: 250px;
    width: 33vw;
    height: 22vh;
    background-color: darkgrey;
}

.exp-container {
    position: absolute;
    margin: auto;
    bottom: 10px;
    max-width: 300px;
    width: 33vw;
    text-align-last: center;
}

.exp-bar {
    padding: 5px;
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
    height: 3px;
}